.background{
    position: absolute;
    z-index: -99;
    height: 250px;
    width: 100%;
}

.headercontent{
    height: 30px;
    width: 100%;
    background-color:rgba(255, 255, 255, 0.555);
}
.headercontent p{
    font-size: 18px;
    color: rgba(39, 25, 25, 0.788);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.headercontent span{
    text-align: center;
    font-size: 18px;
}
.line{
    height: 6px;
    width: 100%;
    background-color: rgba(63, 25, 25, 0.918);
}
.Content{
    background-color: rgba(87, 42, 21, 0.342);
}
.Carousel1{
    text-align: center;
    height: 600px;
    line-height: 160px;   
    overflow: hidden;
}