.all{
    background-color: rgb(233, 240, 221);
    height: 2000px;
    width: 100%;
}
.space{
    background-color: rgba(12, 12, 12, 0.295);
    height: 20px;
    width: 100%;
}
.basic{
    background-color: rgba(12, 12, 12, 0.295);
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
}
.input{
    background-color: #ca39399c;
}
.introduce{
    height: 510px;
    width: 100%;
}
.imgs{
    height: 500px;
    width: 100%;
    z-index: -999;
    margin-top: -25px;
}
.img1{
    height: 500px;
    width: 100%;
    background-image: url(../Image/图1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.write1{
    margin-top: 70px;
}
.write1 p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}
.img2{
    height: 500px;
    width: 100%;
    background-image: url(../Image/养老院.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img3{
    height: 500px;
    width: 100%;
    background-image: url(../Image/图2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.img4{
    height: 500px;
    width: 100%;
    background-image: url(../Image/孤儿院.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    height: 650px;
    width: 100%;
}

.img2{
    margin-top: 25px;
    z-index: -1;
}
.img3{
    margin-top: 25px;
    z-index: -1;
}
.picture{
    z-index: -1;
}
.img1{
    margin-top: 25px;
}
.hide1{
    background-color: rgba(0, 0, 0, 0.418);
    display: none;
    height: 600px;
    width: 100%;
}
.picture:hover img{
    display: block;
   
}


.below{
    position: absolute;
    height: 160px;
    width: 100%;
    margin-top: 800px;
    background-color: rgb(43, 39, 39);
    color: rgb(252, 151, 0);
}