.bg1{
    position: absolute;
    z-index: -1;
    height: 1500px;
    width: 100%;
}
.v2{
    height: 100px;
    width: 1520px;
}
.user{
    padding: 30px;
    height: 700px;
    width: 100%;
}
.Card{
    width: 200px;
    height: 80px;
    float: left;
    margin: 50px;

}
.set{
    height: 500px;
    width: 100%;
    text-align: center;
}