.page{
    
    
}
.page1{
    
}
.iconl{
    margin-top: 280px;
}
.iconr{
    margin-top: 280px;
}
.picture{
    height: 600px;
    width: 1200px;
    overflow: hidden;
}
.a:hover{

}
.panel:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0,0.5 );
    margin-top: -5px;
    transition: all 0.3s ease-in-out;
}
