.page{
    
    
}
.page1{
    
}
.iconl{
    margin-top: 280px;
}
.iconr{
    margin-top: 280px;
}
.picture{
    height: 600px;
    width: 1200px;
    overflow: hidden;
}
.panel:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5 );
    margin-top: -5px;
    transition: all 0.3s ease-in-out;
}
.panel1:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5 );
    margin-top: -5px;
    transition: all 0.3s ease-in-out;
}
.panel2:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5 );
    margin-top: -5px;
    transition: all 0.3s ease-in-out;
}
.panel3:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5 );
    margin-top: -5px;
    transition: all 0.3s ease-in-out;
}
.panel4:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5 );
    margin-top: -5px;
    transition: all 0.3s ease-in-out;
}
.panel5:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5 );
    margin-top: -5px;
    transition: all 0.3s ease-in-out;
}
.panel6:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5 );
    margin-top: -5px;
    transition: all 0.3s ease-in-out;
}
.panel7:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5 );
    margin-top: -5px;
    transition: all 0.3s ease-in-out;
}
.panel8:hover{
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5 );
    margin-top: -5px;
    transition: all 0.3s ease-in-out;
}
.button{
    width: 100px;
}