.all{
        height: 700px;
        width: 100%;
        background-image: url(../Image/背景3.jpg);
        position: absolute;
        background-repeat: no-repeat;
}
.form{
    width: 60%;
    height: 600px;
    margin-left: 160px;
    margin-top: 50px;
}
.form h2{
        width: 65%;
        height: 40px;
        margin-left: 300px;
        text-align: center;
}
.Button{
        width:100%;
        text-align: center;
}
    
