.form{
    width: 60%;
    height: 600px;
    margin-left: 120px;
    margin-top: 30px;
}
.h2{
        width: 65%;
        height: 40px;
        margin-left: 250px;
        text-align: center;
}
.Button{
        width:100%;
}
    
