/* .form{
    width: 60%;
    height: 600px;
    margin-left: 160px;
    margin-top: 50px;
}
.form h2{
        width: 65%;
        height: 40px;
        margin-left: 300px;
        text-align: center;
}
.Button{
        width:100%;
        text-align: center;
}
     */
.form{
        border: 1px solid black;
}
